<div class="row">    
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">{{operation}}</header>
            <div class="panel-body">
                <form class="bs-example form-horizontal">                                                                                                                                         
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Descripción</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.descripcion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Dirección</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.direccion">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Provincia</label>
                        <div class="col-lg-10">                            
                            <select ng-model="entity.provinciaId" ng-options="provincia.id as provincia.descripcion for provincia in data.provincias" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Localidad</label>
                        <div class="col-lg-10">                            
                            <select ng-model="entity.localidadId" ng-options="localidad.id as localidad.descripcion for localidad in localidadesFiltered" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>                   
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Almacen SAP</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.idAlmacenSap">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Centro SAP</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.idCentroSap">
                        </div>
                    </div>    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Interlocutor Destinatario</label>
                        <div class="col-lg-10">
                            <ui-select name="cliente" ng-model="entity.interlocutorDestinatario" theme="select2" style="width: 100%;" append-to-body="true" >
                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                    <small>
                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                    </small>
                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                        <button class="btn btn-xs btn-info"
                                                style="width: 100%; margin-top: 5px;"
                                                ng-click="getSelectSource($select, $event);">
                                            Siguiente
                                        </button>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>     
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Tipo Origen Destino</label>
                        <div class="col-lg-10">
                            <select ng-model="entity.recorridoEstablecimiento" ng-options="recorridoEstablecimiento for recorridoEstablecimiento in data.recorridoEstablecimientoList" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="col-lg-2 control-label">CEBE</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.idCEBE">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Expedición</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.idExpedicion">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Establecimiento AFIP</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.establecimientoAfip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input type="checkbox" ng-model="entity.asociaCartaDePorte">
                            <span>Debe utilizar unicamente Lotes de Carta de porte asignados a este establecimiento</span>
                        </div>
                    </div>    
                    <div class="alert alert-danger" ng-if="result.hasErrors">
                        <i class="fa fa-bolt"></i>
                        <div ng-repeat="message in result.messages">{{message}}</div>
                    </div>                    
                </form>
            </div>
            <footer class="panel-footer font-bold text-right">
                <button type="button" class="btn btn-sm btn-success btn-default" ng-click="save()">Aceptar</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="list()">Volver</button>
            </footer>
        </section>
    </div>
</div>
