<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">{{operation}}</header>
            <div class="panel-body">
                <form class="bs-example form-horizontal">
                    <div class="alert alert-info" >                     
                        Cartas de porte disponibles: <b>{{data.cartasDePorteDisponibles}}</b>
                    </div>
                    <fieldset>
                        <legend>Datos básicos</legend>                        
                        <div class="form-group" ng-if="esParaguay">
                            <label class="col-lg-2 control-label">Sucursal Nro.</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.sucursal" maxlength="3" int>
                            </div>
                        </div>
                        <div class="form-group" ng-if="esParaguay">
                            <label class="col-lg-2 control-label">Punto Emisión</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.puntoEmision" maxlength="3" int>
                            </div>
                        </div>
                        <div class="form-group" ng-if="esParaguay">
                            <label class="col-lg-2 control-label">Timbrado Habilitación Nro.</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.habilitacionNumero" maxlength="13" int>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Rango desde</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.desde" int>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Rango hasta</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.hasta" int>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{esParaguay ? 'Timbrado' : 'Numero de CEE'}}</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="entity.cee" int>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!esParaguay">
                            <label class="col-lg-2 control-label">Establecimiento Origen</label>
                            <div class="col-lg-10">
                                <ui-select name="establecimientoOrigen" ng-model="entity.establecimientoOrigen" theme="select2" style="width: 100%;" append-to-body="true">
                                    <ui-select-match>{{$select.selected.descripcion}}. <b>Tipo Dirección:</b> {{$select.selected.direccion}}. <b>Localidad:</b> {{$select.selected.localidadDescripcion}}. <b>Provincia:</b> {{$select.selected.provinciaDescripcion}} </ui-select-match>
                                    <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                        <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        <small>
                                            <span ng-if="item.direccion">({{item.direccion}})</span>
                                        </small>
                                        <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                            <button class="btn btn-xs btn-info"
                                                    style="width: 100%; margin-top: 20px;"
                                                    ng-click="getSelectSource($select, $event);">
                                                Siguiente
                                            </button>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>                                      
                            </div>
                        </div>
                        <div class="form-group" ng-if="esParaguay">
                            <label class="col-lg-2 control-label">Fecha desde</label>
                            <div class="col-lg-10">
                                <div class="input-group input-append">
                                    <input type="text" ng-model="entity.fechaDesde" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" />
                                    <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Fecha vencimiento</label>
                            <div class="col-lg-10">
                                <div class="input-group input-append">
                                    <input type="text" ng-model="entity.fechaVencimiento" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" />
                                    <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-if="!esParaguay">
                        <legend>PDF</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Archivo PDF Afip</label>
                            <div class="col-lg-10">
                                @*<i class="fa fa-search" style="position: relative; top: 8px; font-weight: bold; cursor: pointer;" data-toggle="modal" data-target="#establecimientosModal"></i>*@
                                
                                <span class="btn btn-success fileinput-button">
                                    <i class=""></i>
                                    <span>Seleccione</span>
                                    <input id="fileupload" type="file" name="file">
                                </span>

                            </div>
                        </div>
                    </fieldset>
                    <div class="alert alert-danger" ng-if="result.hasErrors">
                        <i class="fa fa-bolt"></i>
                        <div ng-repeat="message in result.messages">{{message}}</div>
                    </div>
                    <fieldset>
                        <legend>Lotes</legend>
                        <div class="form-group">                           
                            <div class="col-lg-12">
                                <div class="gridStyleDefault " ng-grid="gridLotes"></div>                              
                            </div>
                        </div>
                    </fieldset>                  
                </form>
            </div>
            <footer class="panel-footer font-bold text-right">
                <button type="button" class="btn btn-sm btn-success btn-default" ng-click="save()">Aceptar</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="list()">Volver</button>
            </footer>
        </section>
    </div>
</div>

