<div class="row">    
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">{{operation}}</header>
            <div class="panel-body">
                <form class="bs-example form-horizontal">
                    
                    public int? Desde { get; set; }
                    public int? Hasta { get; set; }
                    public string Cee { get; set; }
                    public string EstablecimientoOrigen { get; set; }
                    public int GrupoEmpresaId { get; set; }
                    public string Sucursal { get; set; }
                    public string PuntoEmision { get; set; }
                    public DateTime? FechaVencimiento { get; set; }
                    public DateTime? FechaDesde { get; set; }
                    public DateTime? FechaHasta { get; set; }
                    public decimal? HabilitacionNumero { get; set; }
                    
                    
                                                                                                                  
                    <div class="form-group" >
                        <label class="col-lg-2 control-label">Sucursal Nro.</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.sucursal" maxlength="3">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Punto Emisión</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.puntoEmision" maxlength="3">                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Timbrado de Habilitacion Nro.</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.habilitacionNumero" maxlength="13" int>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rango desde</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.desde" int>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rango hasta</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.hasta" int>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Numero de CEE</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="entity.cee">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Establecimiento Origen</label>
                        <div class="col-lg-10">
                            <select ng-model="entity.establecimientoOrigen" ng-options="establecimiento.id as establecimiento.descripcion for establecimiento in data.establecimiento" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-if="result.hasErrors">
                        <i class="fa fa-bolt"></i>
                        <div ng-repeat="message in result.messages">{{message}}</div>
                    </div>
                </form>
            </div>
            <footer class="panel-footer font-bold text-right">
                <button type="button" class="btn btn-sm btn-success btn-default" ng-click="save()">Aceptar</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="list()">Volver</button>
            </footer>
        </section>
    </div>
</div>