<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Solicitud de Carta de Porte</header>
            <div class="panel-body">
                <form class="bs-example form-horizontal">

                    <section class="panel panel-info portlet-item">
                        <header class="panel-heading">
                            Datos básicos
                        </header>
                        <section class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Tipo de carta</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" ng-model="entity.tipoDeCartaId" ng-disbled="entity.id && entity.tipoDeCartaId" ng-options="tipo.id as tipo.descripcion for tipo in data.tipoCartaList"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Fecha emisión</label>
                                        <div class="col-lg-8">
                                            <div class="input-group input-append">
                                                <input type="text" ng-model="entity.fechaDeEmision" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" ng-disabled="!controlsVisibility.fechaDeEmision" />
                                                <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-if="controlsVisibility.fechaDeVencimiento">
                                        <label class="col-lg-4 control-label">Fecha vencimiento</label>
                                        <div class="col-lg-8">
                                            <div class="input-group input-append">
                                                <input type="text" ng-model="entity.fechaDeVencimiento" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" />
                                                <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" ng-if="esArgentina">
                                        <label class="col-lg-4 control-label">Ctg</label>
                                        <div class="col-lg-8">
                                            <span ng-if="!controlsVisibility.ctg" style="position: relative; top: 8px; font-weight: bold;">{{entity.ctg}}</span>
                                            <input type="text" class="form-control" ng-model="entity.ctg" ng-if="controlsVisibility.ctg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Carta de porte</label>
                                        <div class="col-lg-8">
                                            <span ng-if="!controlsVisibility.numeroCartaDePorte" style="position: relative; top: 8px; font-weight: bold;">{{entity.numeroCartaDePorte}}</span>
                                            <input type="text" class="form-control" ng-model="entity.numeroCartaDePorte" ng-if="controlsVisibility.numeroCartaDePorte" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-if="esArgentina || esParaguay">
                                        <label class="col-lg-4 control-label">Cee</label>
                                        <div class="col-lg-8">
                                            <span ng-if="!controlsVisibility.cee" style="position: relative; top: 8px; font-weight: bold;">{{entity.cee}}</span>
                                            <input type="text" class="form-control" ng-model="entity.cee" ng-if="controlsVisibility.cee" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="panel panel-default portlet-item">
                        <header class="panel-heading">
                            1- datos de intervinientes en el translado de granos
                        </header>
                        <section class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Titular carta de porte</label>
                                        <div class="col-lg-9">
                                            <ui-select name="proveedor" ng-model="entity.proveedorTitularCartaDePorte" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.nombre}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.numeroDocumento}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{item.numeroDocumento}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 20px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Intermediario</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clienteIntermediario" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Remitente comercial</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clienteRemitenteComercial" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Corredor</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clienteCorredor" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Representante/Entregador</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clienteEntregador" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Destinatario</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clienteDestinatario" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">                                       
                                        <label class="col-lg-3 control-label">Destino</label>
                                        <div class="col-lg-9">
                                            <span ng-if="entity.clienteDestino" style="position: relative; top: 7px;">
                                                {{entity.clienteDestino.razonSocial}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{entity.clienteDestino.cuit}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Transportista</label>
                                        <div class="col-lg-9">
                                            <ui-select name="proveedor" ng-model="entity.proveedorTransportista" theme="select2" style="width: 100%;" append-to-body="true" ng-show="!empresaClientePagadorFlete">
                                                <ui-select-match>{{$select.selected.nombre}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.numeroDocumento}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{item.numeroDocumento}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 20px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            
                                            <ui-select name="choferTransportista" ng-model="entity.choferTransportista" theme="select2" style="width: 100%;" append-to-body="true" ng-show="empresaClientePagadorFlete">
                                                <ui-select-match>{{$select.selected.nombre}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}. <b>Camión:</b> {{$select.selected.camion}}. <b>Acoplado:</b> {{$select.selected.acoplado}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. Camión: {{item.camion}}. Acoplado: {{item.acoplado}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Chofer</label>
                                        <div class="col-lg-9">
                                            <ui-select name="chofer" ng-model="entity.chofer" theme="select2" style="width: 100%;" append-to-body="true" >
                                                <ui-select-match>{{$select.selected.nombre}}. <b>{{usuario.currentEmpresaLabelCuit}}:</b> {{$select.selected.cuit}}. <b>Camión:</b> {{$select.selected.camion}}. <b>Acoplado:</b> {{$select.selected.acoplado}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. Camión: {{item.camion}}. Acoplado: {{item.acoplado}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <div class="row" ng-if="entity.clienteRemitenteComercial">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">¿El remitente comercial es canjeador?</label>
                                        <div class="col-lg-1">
                                            <input type="checkbox" ng-model="entity.remitenteComercialComoCanjeador" style="position: relative; top: 5px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                        </section>
                    </section>

                    <section class="panel panel-default portlet-item">
                        <header class="panel-heading">
                            2- Datos de los granos / especies transportadas
                        </header>
                        <section class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Grano</label>
                                        <div class="col-lg-11">
                                            <ui-select ng-model="entity.grano" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud">
                                                <ui-select-match>{{$select.selected.descripcion}}. <b>Tipo Grano:</b> {{$select.selected.tipoGranoAfipDescripcion}}. <b>Cosecha:</b> {{$select.selected.cosechaAfipDescripcion}} </ui-select-match>
                                                <ui-select-choices repeat="grano in data.granos">
                                                    <div ng-bind-html="grano.descripcion | highlight: $select.search"></div>
                                                    <small>
                                                        <span ng-if="grano.cosechaAfipCodigo">({{grano.cosechaAfipCodigo}})</span>
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">P.Bruto (Kgs)</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.pesoBruto" ng-disabled="entity.cargaPesadaDestino" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">P.Tara (Kgs)</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.pesoTara" ng-disabled="entity.cargaPesadaDestino" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">P.Neto (Kgs)</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-value="entity.pesoBruto - entity.pesoTara" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Kgs Est.</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.kilogramosEstimados" ng-disabled="!entity.cargaPesadaDestino" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" ng-if="esParaguay">
                                        <label class="col-lg-6 control-label">% Humedad</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.pHumedad" ng-disabled="entity.id" int />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-if="esParaguay">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">% Otros</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.pOtros" ng-disabled="entity.id" int />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Nro.Contrato</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="entity.numeroContrato" int />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">La carga sera pesada en destino</label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" style="position: relative; top: 5px;" ng-model="entity.cargaPesadaDestino" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Declaracion Calidad</label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" style="position: relative; top: 5px;" ng-model="entity.declaracionDeCalidad" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="position: relative; top: 5px;">
                                        <div class="col-lg-12">
                                            <input type="radio" name="conforme" value="1" ng-model="entity.conformeCondicionalId" /> Conforme
                                            <input type="radio" name="conforme" value="2" ng-model="entity.conformeCondicionalId" /> Condicional
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" style="width: 9.5%;">
                                    <div class="form-group">
                                        <label class="col-lg-12 control-label">Observaciones</label>
                                    </div>
                                </div>
                                <div class="col-md-11" style="width: 90%;">
                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="entity.observaciones"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="panel panel-default portlet-item">
                        <header class="panel-heading">
                            3- Lugar de procedencia y destino
                        </header>
                        <section class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Procedencia</label>
                                        <div class="col-lg-11">
                                            <ui-select name="establecimientoOrigen" ng-model="entity.establecimientoProcedencia" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="mensajeAfipReserva">
                                                <ui-select-match>{{$select.selected.descripcion}}. <b>Tipo Dirección:</b> {{$select.selected.direccion}}. <b>Localidad:</b> {{$select.selected.localidadDescripcion}}. <b>Provincia:</b> {{$select.selected.provinciaDescripcion}} </ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                                    <small>
                                                        <span ng-if="item.direccion">({{item.direccion}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 20px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Destino</label>
                                        <div class="col-lg-11">
                                            <ui-select name="establecimientoDestino" ng-model="entity.establecimientoDestino" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="mensajeAfipReserva">
                                                <ui-select-match>{{$select.selected.descripcion}}. <b>Tipo Dirección:</b> {{$select.selected.direccion}}. <b>Localidad:</b> {{$select.selected.localidadDescripcion}}. <b>Provincia:</b> {{$select.selected.provinciaDescripcion}} </ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                                    <small>
                                                        <span ng-if="item.direccion">({{item.direccion}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="panel panel-default portlet-item">
                        <header class="panel-heading">
                            4- Datos del transportista
                        </header>
                        <section class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="radio" name="fletePagado" value="1" ng-model="entity.estadoFlete" /> Flete pagado
                                    <input type="radio" name="fletePagado" value="2" ng-model="entity.estadoFlete" /> Flete a pagar
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Pagador flete</label>
                                        <div class="col-lg-9">
                                            <ui-select name="cliente" ng-model="entity.clientePagadorDelFlete" theme="select2" style="width: 100%;" append-to-body="true" ng-disabled="!rolAltaSolicitud || entity.estadoFlete == 2 || !entity.estadoFlete">
                                                <ui-select-match>{{$select.selected.razonSocial}}</ui-select-match>
                                                <ui-select-choices refresh-on-active="true" refresh="getSelectSource($select)" refresh-delay="300" repeat="item in selectList | filter: $select.search">
                                                    <div ng-bind-html="item.razonSocial | highlight: $select.search"></div>
                                                    <small>
                                                        <span>({{usuario.currentEmpresaLabelCuit}}: {{item.cuit}}. IdCliente: {{item.id}})</span>
                                                    </small>
                                                    <div ng-if="$index == $select.items.length-1 && currentPage < pageCount">
                                                        <button class="btn btn-xs btn-info"
                                                                style="width: 100%; margin-top: 5px;"
                                                                ng-click="getSelectSource($select, $event);">
                                                            Siguiente
                                                        </button>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Tarifa ref.</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.tarifaReferencia" ng-disabled="!controlsVisibility.tarifaReferencia" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Tarifa</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.tarifaReal" />
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Camión</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.patenteCamion" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Acoplado</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.patenteAcoplado" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Km.recorrer</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.kmRecorridos" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Cant.horas</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="entity.cantHoras" int />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <div class="alert" ng-class="'alert-info': !resultAfip.hasErrors, alert-danger: resultAfip.hasErrors" ng-if="resultAfip.message">
                        <div>{{resultAfip.message}}</div>
                    </div>

                    <div class="alert alert-danger" ng-if="result.hasErrors">
                        <i class="fa fa-bolt"></i>
                        <div ng-repeat="message in result.messages">{{message}}</div>
                    </div>

                </form>
            </div>
            <footer class="panel-footer font-bold text-right">
                <button type="button" class="btn btn-sm btn-success btn-info"  ng-if="controlsVisibility.btnDesvio">Guardar Cambio Desvío</button>
                <button type="button" class="btn btn-sm btn-success btn-info" ng-click="save()" ng-if="controlsVisibility.btnSoloGuardar">Solo Guardar</button>
                <button type="button" class="btn btn-sm btn-success btn-default" ng-click="saveAndSend()" ng-if="controlsVisibility.btnGuardar">{{guardarLabel}}</button>
            </footer>
        </section>
    </div>
</div>