<section class="panel panel-default">
    <header class="panel-heading">
        Actividad en Carta de Porte
    </header>

    <div class="row wrapper">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-lg-4 control-label text-right">Fecha desde</label>
                <div class="col-lg-8">
                    <div class="input-group input-append">
                        <input type="text" ng-model="filter.fechaDesde" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" />
                        <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-lg-4 control-label text-right">Fecha hasta</label>
                <div class="col-lg-8">
                    <div class="input-group input-append">
                        <input type="text" ng-model="filter.fechaHasta" data-date-format="dd/mm/yyyy" bs-datepicker class="form-control" />
                        <span class="input-group-addon" data-toggle="datepicker"><i class=" fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <button type="button" class="btn btn-default" ng-click="find()">Actualizar</button>            
        </div>
    </div>     

    <div style="margin: 0 15px 15px 15px">
     
    </div>
</section>
