<section class="panel panel-default">
    <header class="panel-heading">
        Listado de reservas de carta de porte
    </header>
    <div class="row wrapper" style="padding-bottom: 0;">
        <div class="col-sm-12">
            <div class="alert alert-info" style=" margin-bottom: 0;">
                Cartas de porte disponibles: <b>{{data.cartasDePorteDisponibles}}</b>
            </div>
        </div>
    </div>
    <div class="row wrapper">
        <div class="col-sm-10">
            <div class="input-group m-b">
                <input type="checkbox" ng-model="filter.asignadasAMi">
                <span style="position: relative;left: 5px;top: -1px;">Asignadas a mi</span>
            </div>
        </div>
        <div class="col-sm-2 text-right">
            <a href="javascript:void(0)" class="btn btn-dark " ng-click="create()"><i class="fa fa-plus"></i> Nueva</a>
        </div>

        <div class="col-sm-12">
            <div class="alert alert-danger" ng-if="result.hasErrors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="fa fa-ban-circle"></i> {{result.messages[0]}}
            </div>
        </div>
    </div>
    <div style="margin: 0 15px 15px 15px">
        <div class="gridStyleLarge" ng-grid="gridOptions"></div>
    </div>
</section>


<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px; position: relative;left: -100px;">
            <div class="modal-body">
                <div class="well m-t">
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>{{title}}</strong>
                            <p>
                                {{confirmMessage}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="confirm()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>